/* General */
html,body {
    height: 100%;
}
body {
	margin: 0;
	font-family: "Source Sans Pro", Helvetica, sans-serif;
	background-color: #fff;
	padding: 0;
	height: 100%;
	width: 100%;
	background-image: url("../img/bg.png");
	background-size: cover;
	background-position: bottom;
}
button {
	font-family: "Source Sans Pro", Helvetica, sans-serif;
}
hr {
	margin: 0% 44% 0% 44%;
	border-top: 1px solid #000;
}
img {
	margin: 0 auto;
	display: block;
}
p {
	font-family: 'Roboto Mono', monospace;
	font-size: 1em;
	color: black;
	text-align: center;
  	margin: 0;
 	text-transform: uppercase;
}
ul {
	padding: 0;
}
@font-face {
	font-family: gamer;
	src: url("../font.ttf");
  }

/* Navbar */
.navbar {
	position: fixed;
	width: 100%;
	height: 100px;
	background-color: red;
	padding: 0 10%;
	background-image: url('../img/banner-top.jpg');
	background-size: cover;
}
.nav-inline {
	display: inline-block;
	height: 100px;
	width: 220px;
	vertical-align: top;
	margin: 0 8px;
}
.nav-border {
	border-bottom: 5px solid #fff;
	box-sizing: border-box;
}
.nav-inline-text {
	color: white;
	font-size: 24px;
	padding-top: 35px;
	font-family: gamer;
}
.nav-logo {
	height: 80px;
	vertical-align: middle;
	display: inline-block;
	margin-top: 10px;
}

/* Front Page */
.front {
	background-image: url('../img/front.jpg');
	height: 100%;
	background-size: cover;
	background-position: top;
	background-attachment: fixed;
	background-repeat: no-repeat;
	border-bottom: 4px solid #9a9a9a9a;
}

/* Section General */
.section-title {
	font-size: 32px;
	font-family: gamer;
	margin: 20px 0;
}

/* About */
.about-inline-cover {
	width: 850px;
	height: 340px;
	text-align: center;
	font-size: 0;
	margin: 0 auto;
	box-shadow: 7px 25px 5px #909090;
	margin-top: 20px;
	margin-bottom: 120px;
}
.about-inline-content {
	display: inline-block;
	width: 450px;
	height: 320px;
	background-color: #e5e5e5;
	padding: 20px;
	vertical-align: top;
}
.about-inline-content-title {
	font-size: 20px;
	font-family: gamer;
	text-align: left;
}
.about-inline-content-text {
	font-size: 16px;
	text-align: left;
}

.about-inline-img {
	display: inline-block;
	background-image: url('../img/about-img.jpg');
	width: 320px;
	height: 320px;
	background-color: #000;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: bottom;
	padding: 20px;
	vertical-align: top;
}

/* Products */
.products {
	text-align: center;
	font-size: 0;
	margin-bottom: 90px;
	margin-top: 40px;
}
.product-box {
	display: inline-block;
	box-shadow: 7px 10px 5px #909090;
	font-size: 0;
	vertical-align: top;
	margin: 0 20px;
}
.product-img {
	width: 200px;
	height: 100px;
	background-color: #606060;
	display: inline-block;
	/* background image inline */
	background-size: cover;
	background-position: center;
}
.product-desc {
	height: 240px;
	width: 200px;
	background-color: #e5e5e5;
	text-align: left;
}
.product-title {
	font-size: 11px;
	font-family: gamer;
	padding: 5px 15px;;
	text-align: left;
}
.product-text {
	font-size: 11px;
	color: #404040;
	padding: 5px 15px;
	text-align: left;
}
.product-button {
	border: none;
	background-color: #FFDA1A;
	padding: 10px 20px;
	margin: 7px 15px;
	text-align: center;
	color: #000;
	font-size: 11px;
	cursor: pointer;
}
.out-of-stock {
	background-color: red !important;
}

/* Sponsors */
.sponsor-parent {
	text-align: center;
	vertical-align: top;
	margin-bottom: 50px;
	margin-top: 30px;
}
.sponsor {
	width: 70px;
	height: 70px;
	box-shadow: 5px 5px 5px #909090;
	display: inline-block;
	margin: 20px 10px;
	border-radius: 10px;
	object-fit: cover;
}

/* Footer */
.footer {
	background-color: #c1c1c1;
	padding: 10px;
	color: #404040;
	font-size: 12px;
}

/* Classes */
.container {
	padding: 10px 10%;
}

/* ID's */
#split-left {
	margin: 1% 80% 1% 0;
}

/* Loader */
.no-js #loader {
	display: none;
}
.js #loader {
	display: block;
	position: absolute;
	left: 100px;
	top: 0;
}
.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url(../loader.gif) center no-repeat #fff;
	background-color: #101010;
}

/* @Media */
